DB_NAME=name # Nombre de la DB
DB_USER=user # Usuario de la DB
DB_PASS=password # Contraseña de la DB
DB_HOST=host # Host de la DB
DB_PORT=5432 # Puerto de la DB
DEBUG=True # Modo de depuración
SECRET_KEY='secret_key' # Llave secreta

# Las siguientes variables solo se utilizan en producción.
# Estas variables se pueden dejar comentadas en desarrollo local.
#CORS_ALLOWED_ORIGINS=https://example.vercel.app # Quién puede consumir la API desde navegador
#ALLOWED_HOSTS=api.onrender.com # Para qué dominios responde el backend
